<h3>New team</h3>
<%= form_for @team do |f| %>



<table class="table datatable">
  <thead>
    <tr>
      <th>checkbox</th>
    </tr>
  </thead>
  <tbody>
    <%= f.collection_check_boxes :user_ids, User.all, :id, :email do |cb| %>
    <tr>
      <td><%= cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= f.submit %>
<% end %>

<script type="text/javascript">
  $('.datatable').DataTable({
    // ajax: ..., autoWidth: false, pagingType: 'full_numbers', processing: true, serverSide: true, Optional, if you want full pagination controls. Check dataTables documentation to learn more about available options.
    // http://datatables.net/reference/option/pagingType
  });
</script>
