// text colors
$first-text: #111111;
$second-text: #656565;
$third-text: #959595;
// ui colors
$main-color: #7302A1;
$light-purple: #9f3d89;
$orange: #ef9929;
$light-green: #c3bb35;
$green: #6b8c51;
#enterprise-cover{
  .enterprise-text{
    font-size: 68px;
    line-height: 80px;
    color: white;
    text-shadow: none;
    font-weight: bold;
    margin: 30px 0;
    letter-spacing: 3px;
  }
  .enterprise-second{
    font-size: 21px;
    line-height: 23px;
    color: white;
    font-weight: 200;
    margin: 30px 0;
    letter-spacing: 3px;
  }
}
#logos{
  background: white;
  padding: 40px;
  .logo-image{
    filter: grayscale(100%);
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    height: 80px;
    max-width: 200px;
  }
  .logo-image:hover{
    filter: grayscale(0%);
  }
}
#table-comparison{
  margin-top: 100px;
  td{
    text-align: center;
  }
  th{
    margin: 45px 0;
    font-size: 30px;
    line-height: 33px;
    color: $second-text;
    font-weight: 200;
    text-align: center;
  }
  .fa-check{
    color: $green;
  }
  .fa-times{
    color: $light-purple;
  }
}
#get-in-touch{
  .title{
    margin: 45px 0;
    font-size: 30px;
    line-height: 33px;
    color: $second-text;
    font-weight: 200;
    text-align: center;
  }
  .subtitle{
    margin: 20px 15px;
    font-size: 21px;
    line-height: 35px;
    color: #656565;
    font-weight: 200;
  }
  label{
    font-size: 10px;
    line-height: 17px;
    color: $second-text;
    font-weight: bold;
    text-transform: uppercase;
  }
  select{
    width: 100%;
  }
  .input-group-addon{
    background: white;
    border-right: none;
  }
  .input-group{
    input{
      border-left: none;
    }
  }
}
