// text colors
$first-text: #111111;
$second-text: #656565;
$third-text: #959595;
// ui colors
$main-color: #7302A1;
$light-purple: #9f3d89;
$orange: #ef9929;
$light-green: #c3bb35;
$green: #6b8c51;
#trainer-filters{
  background: white;
  width: 100%;
  border: 1px solid #F2F2F2;
  height: 50px;
  .row{
    margin: 0px;
  }
  label{
    width: 100%;
  }
  input[type="submit"]{
    padding: 0.3rem 2rem;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 50px;
    border: 1px solid #F2F2F2;
  }
  .btn{
    border-radius: 0px;
  }
  input[type="radio"]{
    visibility: hidden;
    margin-left: -20px;
  }
  button[type="button"]{
    border: 1px solid #F2F2F2;
    height: 50px;
  }
  .dropdown-menu{
    width: 350px;
  }
}
#trainers{
  .card{
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
  }
  .rounded-image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    align-self: center;
  }
  .trainer-title{
    font-size: 24px;
    line-height: 26px;
    color: $second-text;
  }
  .trainer-text{
    font-size: 14px;
    line-height: 23px;
    color: $second-text;
  }
  .amount{
    font-size: 14px;
    line-height: 23px;
    color: $second-text;
  }
  .inner-card{
    border-radius: 0.4rem;
    background-color: #F8F8F8;
    padding: 5px 10px;
    margin: 3px;
  }
  .inner-card-main-text{
    font-size: 10px;
    text-transform: uppercase;
    line-height: 17px;
    color: $second-text;
  }
  .inner-card-text{
    font-size: 14px;
    line-height: 23px;
    color: $second-text;
  }
  .fa-graduation-cap, .fa-book{
    font-size: 25px;
    line-height: 42px;
    color: $third-text;
  }
  .city-location{
    color: $third-text;
  }
  .fa-star{
    color: #FFBD44;
    font-size: 20px;
    line-height: 20px;
  }
  .badge{
    transform: translateY(-25px);
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.25);
    padding-left: 25px;
    padding-right: 25px;
  }
}
.selected-filters{
  margin-bottom: 100px;
  width: 100%;
  border: 1px solid #F2F2F2;
  height: 50px;
  .badge{
    height: 40px;
    padding: 15px;
    margin-top: 4px;
  }
  .badge-theme{
    transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
    background: $main-color;
    a{
      color: white;
    }
    a:hover{
      text-decoration: none;
    }
  }
  .badge-theme:hover{
    background: #390150;
  }
}
