$main-color: #7302A1;
#top-bar{
  height: 43px;
  background: #F8F8F8;
  line-height: 28px;

  .fa-twitter, .fa-instagram, .fa-facebook, .fa-map-marker{
    font-size: 12px;
    color: #959595;
  }
  .nav-link{
    margin-top: -7px;
  }
  .nav-center{
    margin: auto;
    width: 50%;
    text-align: center;
  }
  .map-address{
    font-size: 12px;
    color: #959595;
  }
  .navbar-right{
    background: $main-color;
    height: 43px;
  }
  .phone-number{
    font-size: 13px;
    color: #ffffff;
    margin-top: 7px;
    padding: 0px 30px;
    font-weight: 600;
  }
}
