<footer class="footer">
  <div class="container">
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </span>


    <div class="pull-right">
      <span>
        <a href="<%= nlbc_privacy_path %>">Privacy Policy</a>
      </span>
      <% unless current_user %>
        <span>
          <a href="Javascript:void(0)" data-toggle="modal" data-target="#signInModal">Login</a>
        </span>
      <% end %>
    </div>
  </div>
</footer>
