<footer class="footer">
  <div class="container">
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </span>
    <span>
      <a href="javascript:void(0)">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </span>


    <div class="pull-right">
      <span>
        <a href="#">Programming</a>
      </span>
      <span>
        <a href="#">Dancing</a>
      </span>
      <span>
        <a href="#">Photography</a>
      </span>
      <span>
        <a href="#">Boxing</a>
      </span>
      <span>
        <a href="#">QAJava</a>
      </span>
      <span>
        <a href="#">Trainers</a>
      </span>
      <span>
        <a href="#">Login</a>
      </span>
    </div>
  </div>
</footer>
