<div id="questions" class="container">
  <h1 class="faq">Frequently Asked Questions</h1>

  <div id="exampleAccordion" data-children=".item">
    <h1 class="faq">General</h1>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
        What is NLBC ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion1" class="collapse show" role="tabpanel">
        <p class="mb-3 toggle-text">
          Nlbc is a platform to learn the skills of a passion in a face2face format in either a bootcamp or 1:1 training. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
        Where do I teach ?  <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion2" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          You can teach in any place you are located. Don’t forget to update your location in the myProfile settings! 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="false" aria-controls="exampleAccordion3">
        What is a passion ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion3" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          A passion is something we like to spend our time on. Either we love learning the skills or we
          like the community that loves the same passion or we got inspired by someone who is passionate about it. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion4" aria-expanded="false" aria-controls="exampleAccordion4">
        What is a challenge ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion4" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          When you break down a passion structurally, we get small learnable chunks of information or
          muscle memories. These are individual skills that belong to a passion. Learning different challenges
          will make you adept at a passion and naturally will make you even more passionate about it.
        </p>
      </div>
    </div>

    <h1 class="faq">Application/Requirements</h1>
    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion5" aria-expanded="false" aria-controls="exampleAccordion5">
        How do I apply to teach on nlbootcamps ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion5" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Submit a “passionista application”
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion6" aria-expanded="false" aria-controls="exampleAccordion6">
        Can I apply to teach a passion that is not currently listed on verbling ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion6" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Yes, we are accepting teachers for all passions, but it must follow
          the nlbc method. You can apply and get support on that and we are happy
          to introduce the new passion. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion7" aria-expanded="false" aria-controls="exampleAccordion7">
        Do I need teaching experience ?  <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion7" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Yes, but you can apply to follow a bootcamp or 1:1 teaching to get that experience.
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion8" aria-expanded="false" aria-controls="exampleAccordion8">
        Can I teach more than one passion ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion8" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Yes you can. The nlbootcamps platform and nlbc method provides a structure that makes
          it possible to teach multiple things without losing quality in your training.
        </p>
      </div>
    </div>

    <h1 class="faq">Payment</h1>
    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion9" aria-expanded="false" aria-controls="exampleAccordion9">
        As a teacher, how do I receive payment ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion9" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          You can cash out your earnings using various methods, including Paypall,
          transfer wise, Payoneer or nlbc credit. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion10" aria-expanded="false" aria-controls="exampleAccordion10">
        How often can I cash out my earnings ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion10" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Earnings can be cashed out anytime. New earnings are ‘unlocked’ and
          available for cashout every Sunday. 
        </p>
      </div>
    </div>

    <h1 class="faq">Teaching</h1>
    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion11" aria-expanded="false" aria-controls="exampleAccordion11">
        Who sets my rates for private lessons ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion11" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          At the moment there are fixed prices per challenge. But we are updating
          the site to give you the option to set your own prices per challenge.  
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion12" aria-expanded="false" aria-controls="exampleAccordion12">
        How many private lessons can I teach ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion12" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Teachers can give an unlimited amount of private lessons using the
          nlbootcamps platform. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion13" aria-expanded="false" aria-controls="exampleAccordion13">
        How do I get students ? <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion13" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Nlbootcamps has the desire to become the biggest platform and community
          for face to face teaching. Part of our job is to make sure you get
          the exposure to this community and immediately match you up with new students. 
        </p>
      </div>
    </div>

    <hr>
    <div class="item">
      <button class="toggle-button" data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion14" aria-expanded="false" aria-controls="exampleAccordion14">
        How much can I expect to earn ?  <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
      </button>
      <div id="exampleAccordion14" class="collapse" role="tabpanel">
        <p class="mb-3 toggle-text">
          Earnings depend on your passions. Some passions make more then others
          in market value. But it also depends on your availability and the
          quality of your profile page. You can get a full time income doing
          only the things your are passionate about.
        </p>
      </div>
    </div>
  </div>
</div>
