<link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
<div class="container">
  <div id="cover-jumbo" class="jumbotron">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div align="center" class="main-text">The fastest way to learn the basics of anything and  unlock your passions.</div>
        <div align="center" class="secondary-text">Discover our unique and fun learning method</div>
        <div align="center" class="paragraph">Choose a passion and sign up for free.</div>
      </div>
    </div>
  </div>
</div>
<div id="cover-stripe">
  <div class="container">
    <div class="row justify-content-md-center content">
      <p align="center">A passionista is someone who is so passionate about something and want to show their passion and help others become passionate it also.</p>
      <%= link_to "Become a Passionista!", new_user_registration_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
