<div class="row justify-content-md-center margin-top-70">
  <blockquote class="blockquote" style="margin-top: 30px;">
    <p class="mb-0">Don't try to make a living, try to make a difference</p>
  </blockquote>
</div>
<div id="vision-page">
  <div class="row">
    <div class="col image-col first-image"></div>
    <div class="col first-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Open sourced Education</div>
          <p> We can not sacrifice structure, so we must obtain a predefined
            process of learning. But its our job to take the best of all
            teachers and improve and evaluate so you get the absolute best.
            Our process and curriculum is always updated unlike a traditional
            education form. And we want everyone to be part of this to make
            knowledge as practical and instantly usable.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col second-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Its all about Passion</div>
          <p> You can only learn if you love what you do, but remember
            sometimes you start loving what you do by doing it. Its okay to
            try new things and stick with it a bit longer to really get an
            understanding on how you feel about it. After you can choose and
            stick with the passion you love and we try our hardest to provide
            you all the support you need. </p>
        </div>
      </div>
    </div>
    <div class="col image-col second-image"></div>
  </div>

  <div class="row">
    <div class="col image-col third-image"></div>
    <div class="col third-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">The freedom</div>
          <p> The key to happiness is the freedom to choose.
            To choose the people you work with, to choose where you live,
            to choose where you spend your time on, when you work and when you
            relax and how much you work. Our goal is to decrease all limitation
            on freedom by increasing flexibility of life. </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col fourth-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">Reforming Education</div>
          <p> Our education bootcamp platform is created by the people and for
            the people. We don’t tell people what to do, we help to do it the
            best way we can. There is no organisational structure and no
            limitation in what can be thought or learned. But we do have a
            very strict rule in the quality of the content and teachers.
            We do believe that trainers don’t have to be experts to train you.
            The sooner you start explaining something the better you become in
            understanding it. This concept is the baseline of our platform.  </p>
        </div>
      </div>
    </div>
    <div class="col image-col fourth-image"></div>
  </div>

  <div class="row">
    <div class="col image-col fifth-image"></div>
    <div class="col fifth-quote">
      <div class="container d-flex h-100">
        <div class="align-self-center">
          <div class="stripe-title">The happiness project </div>
          <p>We think that above 4 elements will increase the overall
            happiness in the world. Life is all about moments and experiences
            and great people can create great experiences for you. Not only by
            letting you enjoy the experience but making sure you grow as a
            person and providing you with support and tools to exploit and
            enjoy the new knowledge. Welcome to the happiness project!</p>
        </div>
      </div>
    </div>
  </div>

</div>
