// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require devise_bootstrap_views
//  *= require_tree .
//  *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
//  *= require_self
//  */
@import "bootstrap";
@import "font-awesome";
@import "dataTables/jquery.dataTables";
@import "devise_bootstrap_views";
@import "progressive_render";
$main-color: #7302A1;
html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-height:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  overflow-x: hidden;
}
body{
  font-family: 'Open Sans', sans-serif;
}

a{
  color: #656565;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}
a:hover{
  color: $main-color;
}
a.btn-primary {
  border-radius: 0px;
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  background: #7302A1;
  border: none;
  transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
a.btn-primary:hover{
  background: #390150;
}
a.btn-secondary {
  border-radius: 0px;
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  background: transparent;
  border: 1px solid white;
  transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}
a.btn-secondary:hover{
  background: #ffffff;
  border: 1px solid white;
  color: black;
}
