// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require devise_bootstrap_views
//  *= require_tree .
//  *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
//  *= require_self
//  */
@import "bootstrap";
@import "font-awesome";
@import "dataTables/jquery.dataTables";
@import "devise_bootstrap_views";
@import "progressive_render";

// text colors
$first-text: #111111;
$second-text: #656565;
$third-text: #959595;
// ui colors
$main-color: #7302A1;
$light-purple: #9f3d89;
$orange: #ef9929;
$light-green: #c3bb35;
$green: #6b8c51;

html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  min-height:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  // -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  overflow-x: hidden;
}
body{
  font-family: 'Open Sans', sans-serif;
}

a{
  color: #656565;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}
a:hover{
  color: $main-color;
}
.button-configuration{
  border-radius: 0px;
  padding: 15px 40px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 600;
  border: none;
  transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
}
// PRIMARY BUTTON
a.btn-primary, input[type="submit"], button.btn-primary, button.stripe-button-el {
  @extend .button-configuration;
  background: #7302A1;
}
a.btn-primary:hover, input[type="submit"]:hover, button.btn-primary:hover{
  background: #390150;
}
// SECONDARY BUTTON
a.btn-secondary {
  @extend .button-configuration;
  background: transparent;
  border: 1px solid white;
}
a.btn-secondary:hover{
  background: #ffffff;
  border: 1px solid white;
  color: black;
}
// DEFAULT - CLOSE BUTTON
a.btn-default, button.btn-default{
  @extend .button-configuration;
  background: $third-text;
  border: 1px solid $third-text;
  width: max-content;
}
a.btn-default:hover, button.btn-default:hover{
  background: #ffffff;
  border: 1px solid $third-text;
  color: $third-text;
}
// THIRD - green BUTTON
a.btn-green, button.btn-green{
  @extend .button-configuration;
  background: $green;
  width: max-content;
}
a.btn-green:hover, button.btn-green:hover{
  background: $green * 0.9;
  color: white;
}
.btn-join{
  border-radius: 4px !important;
  padding: 4px 30px !important;
}

.alert-info{
  background-color: rgba($main-color, 0.4);
  border-color: transparent;
  color: white;
}
