// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// text colors
$first-text: #111111;
$second-text: #656565;
$third-text: #959595;
// ui colors
$main-color: #7302A1;
$light-purple: #9f3d89;
$orange: #ef9929;
$light-green: #c3bb35;
$green: #6b8c51;
nav a {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-decoration: none;
  text-transform: uppercase;
}
#cover-jumbo{
  margin-top: 50px;
  background: #ffffff;
  .main-text{
    font-family: 'Lusitana', serif;
    font-size: 40px;
    line-height: 56px;
    color: #111111;
  }
  .secondary-text{
    font-size: 19px;
    line-height: 28px;
    color: #111111;
    margin: 20px 0px 30px 0px;
    font-weight: 600;
  }
  .paragraph{
    font-size: 16px;
    line-height: 28px;
    color: #656565;
  }
}
#cover-stripe{
  height: 500px;
  background: $main-color;
  color: #fff;
  letter-spacing: 1.1px;
  .content{
    padding-top: 100px;
  }
  .stripe-title{
    font-size: 25px;
    line-height: 20px;
    color: white;
    margin: 40px;
  }
  .stripe-footer{
    font-weight: 200;
    color: white;
    margin: 20px;
  }
  p{
    font-weight: 200;
    height: 150px;
    text-align: center;
  }
  a.btn-primary {
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  a.btn-primary:hover{
    background: rgba(0, 0, 0, 0.5);
  }
}
