// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// text colors
$first-text: #111111;
$second-text: #656565;
$third-text: #959595;
// ui colors
$main-color: #7302A1;
$light-purple: #9f3d89;
$orange: #ef9929;
$light-green: #c3bb35;
$green: #6b8c51;
nav a {
  display: block;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  text-decoration: none;
}
#cover-jumbo{
  margin-top: 50px;
  background: #ffffff;
  .main-text{
    font-family: 'Lusitana', serif;
    font-size: 40px;
    line-height: 56px;
    color: #111111;
  }
  .secondary-text{
    font-size: 19px;
    line-height: 28px;
    color: #111111;
    margin: 20px 0px 30px 0px;
    font-weight: 600;
  }
  .paragraph{
    font-size: 16px;
    line-height: 28px;
    color: #656565;
  }
}
#cover-stripe{
  color: #fff;
  letter-spacing: 1.1px;
  .content{
    padding-top: 100px;
  }
  .stripe-title{
    font-size: 25px;
    line-height: 40px;
    color: white;
    margin: 40px;
  }
  .stripe-footer{
    font-weight: 200;
    color: white;
    margin: 20px;
  }
  p{
    font-weight: 200;
    margin-left: 40px;
  }
  a.btn-primary {
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    transition: color 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),background 0.7s cubic-bezier(0.215, 0.61, 0.355, 1),border 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  a.btn-primary:hover{
    background: rgba(0, 0, 0, 0.5);
  }
  .first-quote{
    height: 400px;
    background: $green;
  }
  .second-quote{
    height: 400px;
    background: $light-purple;
  }
  .third-quote{
    height: 400px;
    background: $light-green;
  }
  .col{
    margin: 15px;
  }
  .image-col{
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
  }
  .intensity{
    background-image: asset-url('intensity.jpg');
  }
  .expertise{
    background-image: asset-url('mind.png');
  }
  .trainer{
    background-size: cover;
    background-image: asset-url('home.jpg');
  }
  .left-button{
    margin-left: 40px;
  }
}
#vision-page{
  @extend #cover-stripe;
  .fourth-quote{
    height: 400px;
    background: $main-color;
  }
  .fifth-quote{
    height: 400px;
    background: $orange;
  }
  .first-image{
    background-size: cover;
    background-image: asset-url('vision/link.jpeg');
  }
  .second-image{
    background-image: asset-url('vision/passion_12.jpg');
  }
  .third-image{
    background-image: asset-url('vision/freedom.png');
  }
  .fourth-image{
    background-image: asset-url('vision/puzzle.jpg');
  }
  .fifth-image{
    background-image: asset-url('vision/happy.jpg');
  }
}
#enterprise-page{
  @extend #vision-page;
  .sixth-quote{
    height: 400px;
    background: $green;
  }
  .seventh-quote{
    height: 400px;
    background: $orange;
  }
  .satisfaction-image{
    background-image: asset-url('enterprise/satisfaction.png');
  }
  .updates-image{
    background-image: asset-url('enterprise/updates.jpg');
    background-size: contain;
  }
  .two-trainers-image{
    background-image: asset-url('enterprise/two_trainers.jpg');
  }
  .interactive-image{
    background-image: asset-url('enterprise/interactive.png');
    background-size: contain;
  }
  .flexible-image{
    background-image: asset-url('enterprise/flexible.jpg');
  }
  .custom-branding-image{
    background-image: asset-url('enterprise/results.jpg');
  }
  .pricing-image{
    background-image: asset-url('enterprise/value.jpeg');
  }
}
.blockquote-paragraph{
  margin-top: 20px;
  border-left: 5px solid #E9EBED;
  padding: 8px;
}
